.form-container {
    display: flex;
    flex-direction: column;
}

.form-group input {
    background-color: rgba(34, 111, 154, .25);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: #fff;
}

.form-group input::placeholder {
    color: #FFF;
    font-size: .9rem;
}

.submit-button {
    background-color: #fff;
    font-weight: 600;
    border: none;
    padding: 15px 15px;
    width: 130px;
    border-radius: 13px;
    align-self: center;
}

.submit-button:hover {
    border: 1px solid #fff;
    color: #fff;
}

#username, #password {
    width: 100% !important;
}

@media (max-width: 576px) {
    #username, #password {
        max-width: 100% !important;
    }
}