.main.account {
    margin-top: 80px;
}

.main.account h4 {
    font-weight: 600;
}

.fg-row {
    display: flex;
    justify-content: space-between;
}

.account input {
    height: 45px;
    width: 470px;
}

.account .form-group, .account .submit-button {
    margin-top: 30px;
}