.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
}

.login-container .left {
    width: 45%;
    background-color: #2A5482;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    z-index: 2;
}

.login-container .left::before {
    content: '';
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    opacity: .15;
    background: url('../../assets/images/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-content {
    position: relative;
    z-index: 2;
    color: white;
    padding: 100px;
}

.login-content h1 {
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
}

.overlay {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(0, 0, 0, .25);
    position: absolute;
    z-index: 1;
}

.login-form-container {
    margin-top: 125px;
}

.right {
    background: url('../../assets/images/login-right-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.right .overlay {
    border-radius: 0;
}

@media (max-width: 1245px) {
    .login-content {
        padding: 60px;
    }

    .login-container .left {
        width: 50%;
    }
}


@media (max-width: 992px) {
    .right {
        display: none;
    }

    .login-container .left, .overlay, .login-container .left::before {
        border-radius: 0;
    }

    .login-container .left {
        width: 100%;
    }
}