.app-wrapper {
  position: relative;
  display: flex;
}

.form-control {
  width: 100%;
}

label {
  font-size: 0.8rem;
}

@media (max-width: 1250px) {
  .main-content {
    padding: 30px 75px 15px 30% !important;
  }
}

@media (max-width: 992px) {
  .main-content#main {
    padding: 30px 75px 15px 18% !important;
  }
}

@media (max-width: 576px) {
  .main-content#main {
    padding: 30px 60px 15px 22% !important;
  }

  .hidden {
    display: none;
  }
}
